<h1>Goku</h1>
<h2>El Guerrero Saiyan</h2>
<h3>(1984-Presente)</h3>

<p> Goku, también conocido como Kakarotto, es un valiente guerrero Saiyan de la serie Dragon Ball.
    Es ampliamente reconocido como uno de los luchadores más poderosos del universo. La historia de Goku comenzó en la
    Tierra, donde fue encontrado y criado por un bondadoso artista marcial llamado Son Gohan. A medida que crecía,
    descubrió su herencia Saiyan y se dio cuenta de su increíble potencial de fuerza y poder.</p>


<p>By {{name}}</p>