
<style>
    .image-container {
    display: flex;
    justify-content: center;
  }

    .image-container img {
    width: 50%; 
    height: auto; /* Para mantener la proporción de la imagen */
  }
</style>

<div class="image-container">
  <img src="images/goku.jpg" alt="Goku"> 
</div>
